<div class="container">
    <h1>Registrarse</h1>

    <form (ngSubmit)="registro(formulario)" #formulario ="ngForm" class="form-container">
        <label for="username" class="form-label">Email:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'📧'}}</span>
            <input type="text" class="form-control" placeholder="Username" name="email" [(ngModel)]="email" required>
        </div>
        <label for="pwd" class="form-label">Password:</label>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{'🔑'}}</span>
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{''}}</span>
            <select name="tipoUsuario" id="" class="form-select" aria-label="Default select example" required>
                <option value="administrador" selected>Administrador</option>
                <option value="mesero">Usuario</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
</div>
